# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020-2023 by Helmut Konrad Schewe. All rights reserved.
# This file is property of Helmut Konrad Schewe. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

iamraw>=4.88.11<5.0.0
utila>=2.99.2<3.0.0
geostrat>=1.4.4<2.0.0

german>=1.28.1<2.0.0
configo>=0.25.3<1.0.0
elements>=0.21.7<1.0.0

pattern>=0.4.1<1.0.0

picture>=0.2.2<1.0.0
sdata>=0.7.4<1.0.0

ghost>=0.9.1<1.0.0
